@-webkit-keyframes throbber {
  0% {
    background: #dde2e7;
  }

  10% {
    background: #6b9dc8;
  }

  40% {
    background: #dde2e7;
  }
}

@-moz-keyframes throbber {
  0% {
    background: #dde2e7;
  }

  10% {
    background: #6b9dc8;
  }

  40% {
    background: #dde2e7;
  }
}

@-o-keyframes throbber {
  0% {
    background: #dde2e7;
  }

  10% {
    background: #6b9dc8;
  }

  40% {
    background: #dde2e7;
  }
}

@keyframes throbber {
  0% {
    background: #dde2e7;
  }

  10% {
    background: #6b9dc8;
  }

  40% {
    background: #dde2e7;
  }
}

/* :not(:required) hides these rules from IE9 and below */
.throbber:not(:required) {
  -webkit-animation: throbber 2000ms 300ms infinite ease-out;
  -moz-animation: throbber 2000ms 300ms infinite ease-out;
  -ms-animation: throbber 2000ms 300ms infinite ease-out;
  -o-animation: throbber 2000ms 300ms infinite ease-out;
  animation: throbber 2000ms 300ms infinite ease-out;
  background: #dde2e7;
  display: inline-block;
  position: relative;
  text-indent: -9999px;
  width: 0.9em;
  height: 1.5em;
  margin: 0 1.6em;
}
.throbber:not(:required):before, .throbber:not(:required):after {
  background: #dde2e7;
  content: '\x200B';
  display: inline-block;
  width: 0.9em;
  height: 1.5em;
  position: absolute;
  top: 0;
}
.throbber:not(:required):before {
  -webkit-animation: throbber 2000ms 150ms infinite ease-out;
  -moz-animation: throbber 2000ms 150ms infinite ease-out;
  -ms-animation: throbber 2000ms 150ms infinite ease-out;
  -o-animation: throbber 2000ms 150ms infinite ease-out;
  animation: throbber 2000ms 150ms infinite ease-out;
  left: -1.6em;
}
.throbber:not(:required):after {
  -webkit-animation: throbber 2000ms 450ms infinite ease-out;
  -moz-animation: throbber 2000ms 450ms infinite ease-out;
  -ms-animation: throbber 2000ms 450ms infinite ease-out;
  -o-animation: throbber 2000ms 450ms infinite ease-out;
  animation: throbber 2000ms 450ms infinite ease-out;
  right: -1.6em;
}

.panel-title {
    font-weight:bold;
}
.panel {
    box-sizing: border-box;
    display: inline-block;
    float: left;
    margin-left: 5px;
    width: calc(20% - 5px);
    min-width: 200px;
}
.form-group {
    margin-bottom:auto;
}
.nav .form-group {
  margin-top:7px;
}
.well {
    float:right;
    margin-bottom: 0px;
    margin-right:10px;
    color:#777;
    background-color: #fefefe;
}
.well-sm {
    padding:7px;
}
.fa-custom {
    margin-right: 5px;
}
.panel-title {
    color:#67666A;
}
.panel.panel-default > div {
  text-align: center;
}
.btn-custom {
  margin:5px 0px;
}
.panel-body {
  min-height:110px;
}
.nav .btn-primary {
  float:right;
}
.publish-wrap {
  text-align: center;
}
.well {
  transition:all 2s ease-in-out;
}

.filter-row {
  border-bottom: 1px solid #ccc;
  margin-bottom:20px;
  padding-bottom: 10px;
}
.row {
  transition:all 2s ease-in-out;
}
.panel-focus {
  border-color: #66afe9;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
  outline: 0 none;
}
