<div class="wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <select class="form-control" style="width: 250px;" ng-model="currentSheet" ng-options="w.title for w in worksheets"></select>
                <!-- <select class="form-control" style="width:250px">
                    <option value="0">Select your sheet</option>
                    <option>Week</option>
                    <option>Week</option>
                </select> -->
            </div>
        </div>
        <div class="row" ng-show="currentSheet.id !== null && !loadingSheet">
            <div class="col-lg-12">
                <div class="form-group">
                    <input type="text" style="width:250px" class="form-control" autocomplete="off" placeholder="Enter some text..." ng-model="selectedPerson" typeahead="item as item.title for item in people | filter:$viewValue | limitTo:8" />
                </div>
            </div>
        </div>
        <br/>
        <div class="row" ng-show="selectedPerson.row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-calendar fa-custom"></i> Luni</h3>
                    </div>
                    <div class="panel-body">
                        Ciorba radauteana, Snitel de pui cu legume mexicane, Salata de castraveti murati
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-calendar fa-custom"></i> Marti</h3>
                    </div>
                    <div class="panel-body">
                        Ciorba radauteana, Snitel de pui cu legume mexicane, Salata de castraveti murati
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-calendar fa-custom"></i> Miercuri</h3>
                    </div>
                    <div class="panel-body">
                        Ciorba radauteana, Snitel de pui cu legume mexicane, Salata de castraveti murati
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-calendar fa-custom"></i> Joi</h3>
                    </div>
                    <div class="panel-body">
                        Ciorba radauteana, Snitel de pui cu legume mexicane, Salata de castraveti murati
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-calendar fa-custom"></i> Vineri</h3>
                    </div>
                    <div class="panel-body">
                        Ciorba radauteana, Snitel de pui cu legume mexicane, Salata de castraveti murati
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
<div class="row">
    <div class="span2">
        Select week:
    </div>
    <div class="span5">
        <select ng-model="currentSheet" ng-options="w.title for w in worksheets"></select>
    </div>
</div>

<div class="row" ng-show="currentSheet.id !== null && !loadingSheet">
    <div class="span2">
        Find yourself:
    </div>
    <div class="span5">
        <input type="text" autocomplete="off" placeholder="Enter some text..." ng-model="selectedPerson" typeahead="item as item.title for item in people | filter:$viewValue | limitTo:8">
    </div>
</div>
-->


<table class="table table-bordered table-condensed table-striped table-hover" ng-show="selectedPerson.row">
    <thead>
    <tr>
        <th class="span2">Luni</th>
        <th class="span2">Marti</th>
        <th class="span2">Miercuri</th>
        <th class="span2">Joi</th>
        <th class="span2">Vineri</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td ng-repeat="food in selectedFood track by $index" ng-click="setFocusDay($index)">
                <div>
                    <div>{{food.title}}</div>
                    <div ng-show="focusDay == $index">
                        <input type="hidden" id="select" select-food day-id="{{$index}}" />
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<div class="row" ng-show="loadingSheet">
    <div class="span2">
        <div class='throbber'></div>
    </div>
</div>
